* {
  box-sizing: border-box;

}


body {
  background-color: #f5f5f5;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

canvas {
  border: 2px solid steelblue;
}

.toolbox {
  background-color: steelblue;
  border: 1px solid  slateblue;
  display: flex;
  width: 804px;
  padding: 1rem;
}

.toolbox > * {
  background-color: #fff;
  border: none;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-size: 2rem;
  width: 50px;
  height: 50px;

  margin: .25rem;
  padding: .25rem;

  cursor: pointer;
}

.toolbox > *:last-child {
  margin-left: auto;
}