* {
  box-sizing: border-box;

}


body {
  background-image: linear-gradient(90deg,#7d5fff,#7158e2);
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.search {
  position: relative;
  height: 50px;
}

.search .input {
  background-color: #fff;
  border: 0;
  font-size: 18px;
  padding: 15px;
  height: 50px;
  width: 50px;
  transition: width .3s ease;
}

.btn {
  background-color: #fff;
  border: 0;
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  transition: transform .3 ease;
}

.btn:focus,
.input:focus {
  outline: none;
}


/*When the search class has an active class,
we want the input to go to 200px*/

/* The width starts at 50px, but when the search
element has the active class on it, the width will
grow to 200px; and we also want the button to move
over*/

.search.active .input {
  width: 200px;

}

.search.active .btn {
  transform: translateX(198px);
}