* {
  box-sizing: border-box;

}

body {
  background-color: steelblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.empty {
  height: 150px;
  width: 150px;
  margin: 10px;
  border: solid 3px black;
  background-color: #fff;
}

.fill {
  background-image: url('https://source.unsplash.com/random/150x150');
  height: 145px;
  width: 145px;
  cursor: pointer;
}

.hold {
  border: solid 5px #ccc;
  border-color: #fff;
  border-style: dashed;
}

.hovered {
  background-color: #333;
}

@media screen and (max-width: 800px) {
  body {
    flex-direction: column;
  }
  
}